.title{
	color:#383838;
	font-family:Verdana Sans-serif;
	text-align:center;
	background-color:#8f9194;
}
.info{
	color:black;
	font-family:Verdana Sans-serif;
	text-align:center;
}
table{
	margin:auto;
	border: 2px solid black ;
	width:600px;
	border-collapse:collapse;
}
td{
	border:2px solid black;
	border-collapse:collapse;
}
div{
	style: word-wrap;
}
