.title{
	color:#20b2aa;
	font-family:Verdana Sans-serif;
	text-align:center;
}
.info{
	color:black;
	font-family:Verdana Sans-serif;
	text-align:center;
}
table{
	margin:auto;
	border: 4px solid black ;
	width:100px;
}
td{
	border:4px solid black;
}
div{
	style: word-wrap;
}
