.highlight{
	color:#383838;
	font-family:Verdana Sans-serif;
	text-align:center;
	background-color:#bcfae5;
}
}
table{
	margin-left:500px;
	margin-top:1000px;
	width:1000px;
	border-collapse:collapse;
	border:none;
}
td{
	border:none;
}

